@font-face {
    font-family: "Motorola Screentype";
    src: url(MotorolaScreentype.ttf);
}/**/

@font-face {
    font-family: "Nokia Cellphone FC";
    src: url(nokiafc22.ttf);
}

body {
    background-image: linear-gradient(0,#000,#333);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: "Nokia Cellphone FC", sans-serif;
    font-size: 18px;
    color: white;
    margin: 0;
    margin-top: 75px;
    font-smooth: never;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
}

.header {
    font-family: "Motorola Screentype", sans-serif;
    font-size: 90px;
    text-align: center;
}

.topheader {
    position: relative;
    animation-name: headerFadeIn;
    animation-duration: 2s;
    animation-delay: 0.2s;
    animation-timing-function: cubic-bezier(.32,.28,.35,.95);
    animation-fill-mode: both;
}

.headercontainer {
    min-height: 90px;
    display: flex;
    justify-content: center;
}

.headercontainer * {
    margin: 0;
}

header#menubar {
    width: 100%;
    height: 64px;
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    user-select: none;
    flex-direction: row;
    box-shadow: 0 0 10px 0 #000;
    z-index: 1;
}

.menugroup {
    max-height: 100%;
    padding: 0px 30px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

#menubar .header {
    font-size: 30px;
    font-weight: 700;
}

#menubar .tm {
    font-size: 10px;
    align-self: flex-start;
}

@keyframes headerFadeIn {
    0% {
        opacity: 0;
        bottom: 35px;
    }
    100% {
        opacity: 1;
        bottom: 0;
    }
}

.right {
    justify-content: right;
    text-align: right;
}

.left {
    justify-content: left;
    text-align: left;
}

.row {
    flex-direction: row;
}