@font-face {
    font-family: "Motorola Screentype";
    src: url(MotorolaScreentype.ttf);
}/**/

@font-face {
    font-family: "Nokia Cellphone FC";
    src: url(nokiafc22.ttf);
}

body {
    background-image: linear-gradient(0,#000,#333);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Nokia Cellphone FC", sans-serif;
    font-size: 18px;
    color: white;
    margin-top: 50px;
    font-smooth: never;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
}

.header {
    font-family: "Motorola Screentype", sans-serif;
    font-size: 90px;
}

.topheader {
    position: relative;
    animation-name: headerFadeIn;
    animation-duration: 2s;
    animation-delay: 0.2s;
    animation-timing-function: cubic-bezier(.32,.28,.35,.95);
    animation-fill-mode: both;
}

.headercontainer {
    min-height: 90px;
    display: flex;
    justify-content: center;
}

.headercontainer * {
    margin: 0;
}

@keyframes headerFadeIn {
    0% {
        opacity: 0;
        bottom: 35px;
    }
    100% {
        opacity: 1;
        bottom: 0;
    }
}

.right {
    justify-content: right;
}

.left {
    justify-content: left;
}

.row {
    flex-direction: row;
}